* {
  outline: none;
}

.wrap-table {
  overflow: auto;
  max-height: 370px;
  margin-bottom: 20px;
}

:focus {
  outline-width: 0;
}

.icon {
  vertical-align: middle;
}

.highlightText {
  background: yellow;
}

.clear-border {
  border: none !important;
}

.border-left {
  border-left: 1px solid #ccc !important;
}

.border-right {
  border-right: 1px solid #ccc !important;
}

.color-1 {
  box-shadow: inset 0 -14px 0 -10px #f37021 !important;
}
.color-2 {
  box-shadow: inset 0 -14px 0 -10px #fcd217 !important;
}
.color-3 {
  box-shadow: inset 0 -14px 0 -10px #9c4d1e !important;
}

input[readonly] {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  color: #999;
}

.logos {
  width: 30px;
  height: 30px;
  background-color: #fff;
  padding: 3px;
  border-radius: 3px;

  &.mysql {
    content: url('../../assets/images/technologies/mysql.jpeg');
  }

  &.oracle {
    content: url('../../assets/images/technologies/oracle.jpeg');
  }

  &.microsoft {
    content: url('../../assets/images/technologies/microsoft.jpeg');
  }

  &.postgresql {
    content: url('../../assets/images/technologies/postgresql.jpeg');
  }

  &.mongodb {
    content: url('../../assets/images/technologies/mongodb.jpeg');
  }
}

.ercole-version-logo {
  width: 30px;
  height: 30px;
  content: url('../../assets/images/cerchio-bianco-cane-blu.png');
  background-color: transparent;
  padding: 0px;
  margin-left: -8px;
}

.databasesInfo {
  .db-info {
    padding-top: 0;

    li {
      padding: 0 5px;
      font-size: 0.7em;

      span:first-child {
        font-weight: 500;
      }
    }

    li:not(:first-child) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      padding: 3px 6px;

      &:nth-child(odd) {
        background: #f1f1f1;
      }
    }

    li:first-child {
      box-shadow: 0 0.08em 0 lightslategrey;
      font-weight: 600;
      text-transform: uppercase;
      padding-left: 0;
    }
  }
}

.detail-container .table-container table {
  position: relative;
  z-index: 0;
}