.content ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

// customize switch label
.switch .control-label {
  padding-top: 0.1rem;
}

// custom label transparent to align button
.label-button {
  color: transparent;
}

// custom ul tabs
.b-tabs .tab-content {
  overflow: hidden;
}

.b-tabs.is-vertical {
  flex-wrap: inherit;

  > .tabs {
    ul {
      min-width: 125px;
      
      li {
        a {
          padding: 0.3em 1em 0.25em 1em;
        }
      }
    }
  }
}

.tabs.is-boxed {
  li {
    max-width: 100px;

    a {
      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.tab-item {
  .tab-content {
    padding: 0;
  }
}

.b-tabs {
  .is-vertical {
    .tabs {
      margin-right: 20px;
    }
  }
}

// pagination
ul.pagination-list {
  list-style: none;
  margin-left: 0;
  margin-top: 0;

  li+li {
    margin-top: 0;
  }
}

// table
.b-table .table {
  white-space: nowrap;
  font-size: 14px;
}

// navbar
.navbar.is-dark {
  z-index: 54;
  margin-left: 50px;
}

// navbar dropdown
.navbar-dropdown {
  z-index: 100;
  margin-top: -2px;
}

// select
.select select {
  border-radius: 2px;
}

// modal
.modal {
  z-index: 100;
}

// toast 
.notices .toast.is-success {
  color: #000000;
}

// checkbox
.b-checkbox.checkbox:not(.button) {
  vertical-align: middle;
  margin-right: 0;
}

// sidebar
.v-sidebar-menu {
  height: 100% !important;
}

.b-sidebar {
  .sidebar-content {
    width: 350px;
  
    &.is-fullheight {
      display: unset;
      flex-direction: unset;
    }
  }
}

// field
.small-label {
  font-size: 0.65em;
  margin-bottom: 0.1em !important;
}

.small-label-next {
  @extend .small-label;
  padding-left: 5px;
}

// slider
.b-slider {
  width: 90%;
    margin: 0 auto;
    padding-bottom: 15px;

    .b-slider-tick-label {
      padding-top: 2px;
    }
}