.content ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

// customize switch label
.switch .control-label {
  padding-top: 0.1rem;
}

// custom label transparent to align button
.label-button {
  color: transparent;
}

// custom ul tabs
.tabs.is-toggle li.is-active a {
  background-color: $ercole-blue !important;
  color: $white;
  border-color: #dbdbdb;
  font-weight: bold;
}

.tabs.is-toggle a:hover {
  background-color: $custom-primary !important;
  color: $white !important;
}

.tabs li.is-active a {
  color: $custom-primary;
}

.b-tabs .tab-content {
  overflow: hidden;
}

.b-tabs.is-vertical {
  flex-wrap: inherit;

  > .tabs {
    ul {
      min-width: 170px;

      li {
        flex-grow: unset;
        min-height: 32px;

        a {
          padding: 0.3em 1em 0.25em 1em;
        }
      }
    }
  }
}

.tabs.is-boxed {
  li {
    max-width: 100px;

    a {
      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.tab-item {
  .tab-content {
    padding: 0;
  }
}

.b-tabs {
  .is-vertical {
    .tabs {
      margin-right: 20px;
    }
  }
}

.vertical-tabs-scroll {
  .tabs {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

// pagination
ul.pagination-list {
  list-style: none;
  margin-left: 0;
  margin-top: 0;

  li + li {
    margin-top: 0;
  }
}

// table
.b-table .table {
  white-space: nowrap;
  font-size: 1em;
}

.b-table .table-wrapper.has-sticky-header {
  max-height: 558px;
  height: auto;
}

.b-table .table-wrapper.has-sticky-header tr:first-child th {
  height: 30px;
  line-height: 20px;
  background-color: #101336;
  font-weight: normal;
}

.b-table .table .checkbox-cell {
  text-align: center !important;
}

.level {
  justify-content: center;
}

.pagination-link.is-current {
  background-color: #101336;
  border-color: #dbdbdb;
}

.b-checkbox.checkbox input[type='checkbox']:disabled + .check {
  display: none;
}

// navbar
.navbar.is-dark {
  z-index: 54;
  margin-left: 50px;
}

// navbar dropdown
.navbar-dropdown {
  z-index: 100;
  border-top: none;
}

// select
.select select {
  border-radius: 2px;
}

// modal
.modal {
  z-index: 100;
}

// dialog
.dialog .modal-card {
  max-width: 1000px;
}

// toast
.notices .toast.is-success {
  color: $grey-darker;
  background: lightgreen;
}

// checkbox
.b-checkbox.checkbox:not(.button) {
  vertical-align: middle;
  margin-right: 0;
}

// sidebar
.v-sidebar-menu {
  height: 100% !important;
}

.vsm--toggle-btn > span > span {
  font-size: 1rem;
}

.b-sidebar {
  .sidebar-content {
    width: 350px;

    &.is-fullheight {
      display: unset;
      flex-direction: unset;
    }
  }
}

// field
.small-label {
  font-size: 0.65em;
  margin-bottom: 0.1em !important;
}

.small-label-next {
  @extend .small-label;
  padding-left: 5px;
}

// slider
.b-slider {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 15px;

  .b-slider-tick-label {
    padding-top: 2px;
  }

  .b-slider-thumb-wrapper.has-indicator {
    .b-slider-thumb {
      padding: 2px 3px;
      font-size: 10px;
      font-weight: 600;
    }
  }
}

// taginput
.taginput .taginput-container > .tag,
.taginput .taginput-container > .tags {
  overflow: hidden;
}

.taginput .taginput-container > .tag .tag,
.taginput .taginput-container > .tags .tag {
  max-width: 80%;
}

.taginput .taginput-container > .tag .tag,
.taginput .taginput-container > .tags .tag span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-wrap: anywhere;
}

.autocomplete {
  &.control {
    min-width: 100%;
  }

  .dropdown-item {
    display: block !important;
  }
}

.login-form {
  // .input {
  //   border: 2px solid #48c78e;
  //   color: #2bad84
  // }

  .control.has-icons-left .icon,
  .control.has-icons-right .icon {
    color: #48c78e;
  }

  .control.has-icons-left .input:focus ~ .icon,
  .control.has-icons-left .select:focus ~ .icon,
  .control.has-icons-right .input:focus ~ .icon,
  .control.has-icons-right .select:focus ~ .icon {
    color: #2bad84;
  }
}

// custom colors button hover
.button.is-light-blue:hover {
  background-color: rgba($info, 1);
  border-color: transparent;
  color: rgba($white, 1);
}

.button.is-light-warning:hover {
  background-color: rgba($warning, 1);
  border-color: transparent;
  color: rgba($dark, 1);
}

.button.is-light-danger:hover {
  background-color: rgba($danger, 1);
  border-color: transparent;
  color: rgba($white, 1);
}

.button.is-ercole-blue:hover {
  background-color: $custom-primary;
  border-color: transparent;
  color: $white;
}

.button:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: none;
}

.navbar-item img {
  max-height: 2rem;

  .notification.is-warning.is-light {
    margin-bottom: 0;
    padding: 0.2rem 2.5rem 0.2rem 1rem;

    > .delete {
      top: 0.3rem;
    }
  }
}

// menu
.v-sidebar-menu {
  * {
    max-width: 270px !important;
  }

  .vsm--link {
    font-size: 13px !important;
    padding: 12px 15px !important;
  }
}

// b-table 
.b-table {
  .detail {
    td {
      // padding: 0;
    }
    .detail-container {
      padding: 0 !important;
    }
  }
}

// input
.control {
  .input[disabled],
  .textarea {
    border-color: #dbdbdb;
  }
}
