.custom-multi-select {
  height: inherit !important;
  margin-right: 8px;

  .btn-select {
    border-radius: 2px;
    font-size: 12px;
    background-color: white;
    color: #363636;
    border: 1px solid #dbdbdb;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 18px;
    height: 30px;
    width: 160px;
    margin-right: 8px;
    cursor: pointer;

    &:focus {
      border-color: #679189;
      box-shadow: 0 0 0 0.125em #67918940;
    }
  }
  
  .vertical {
    float: none;
  }
  
  /* ! horizontal layout */
  
  .horizontal:not(.selectGroup) {
    float: left;
  }
  
  /* ! create a "row" */
  
  .line {
    box-sizing: content-box;
    max-height: 30px;
    overflow: hidden;
    padding: 2px 0;
    position: relative;
  }
  
  
  /* ! create a "column" */
  
  .acol {
    display: inline-block;
    min-width: 12px;
  }
  
  
  /* ! */
  
  .inlineBlock {
    display: inline-block;
  }
  
  /* button: clicked */
  
  .buttonClicked {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  
  
  /* labels on the button */
  
  .buttonLabel {
    word-break: break-word;
    display: inline-block;
    padding: 0px 0px 0px 0px;
  }  
  
  /* the main checkboxes and helper layer */
  
  .checkboxLayer {
    background-color: #fff;
    position: absolute;
    z-index: 999;
    border: solid lightgrey;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    width: 200px;
    display: none;
    right: auto !important;
  }
  
  
  /* container of helper elements */
  
  .helperContainer {
    padding: 8px;
  }
  
  
  /* helper buttons (select all, none, reset); */
  
  .helperButton:not( .reset) {
    margin-right: 4px;
  }
  
  .helperButton {
    background-color: white;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    font-size: 0.75rem;
    background-color: #f2effb;
    border-color: transparent;
    color: #679189;

    &:hover {
      background-color: #e8e5e5;
    }
  }
  
  .historyButton {
    float: right;
    display: inline;
    text-align: center;
    cursor: pointer;
    border: 1px solid #e8e5e5;
    font-size: 13px;
    border-radius: 2px;
    color: #666;
    background-color: #ffffff;
    line-height: 1.6;

    &:hover {
      background-color: #e8e5e5;
    }
  }
  
  
  
  .right {
    float: right;
  }
  
  .margin-right-10 {
    margin-right: 20px
  }
  
  /* clear button */
  
  @-moz-document url-prefix() {
    .clearButton {
      height: 24px!important;
    }
  }
  
  .clearButton {
    box-sizing: inherit;
    position: absolute;
    display: inline;
    text-align: center;
    cursor: pointer;
    border: 0;
    height: 22px;
    width: 22px;
    font-size: 13px;
    border-radius: 2px;
    color: #fff;
    background-color: #f14668;
    line-height: 1.4;
    right: 3px;
    top: 5px;

    &:hover {
      border: 0;
      color: #fff;
      background-color: #f03a5f;
    }
  }
  
  /* filter */
  
  .inputFilter {
    font-size: 0.75rem;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    box-shadow: inset 0 0.0625em 0.125em rgb(10, 10, 10 / 5%);
    height: 30px;
    width: 100%;
    padding-left: 7px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    color: #888;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

    &:focus{
      border-color: #679189;
      box-shadow: 0 0 0 0.125em #67918940;
    }
  }
  
  /* container of single select items */
  
  .checkBoxContainer {
    display: block;
    overflow: hidden;
    max-height: 150px;
    height: 100%;
    overflow-y: auto;
  }
  
  .margin-left-20 {
    margin-left: 20px;
  }
  
  /* ! to show / hide the checkbox layer above */
  
  .show {
    display: block;
  }
  
  
  /* item labels */
  
  .selectItem {
    display: block;
    padding: 5px 10px;
    font-size: 13px;
    color: black;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top: 1px solid #c4c4c4;
    position: relative;
    width: 200px;
    min-height: 20px;
    line-height: 20px;
    margin-top: 0;
  }
  
  
  /* item labels when not active */
  
  .selectItemDeactive {
    display: block;
    padding: 3px;
    color: #444;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    position: relative;
    min-width: 278px;
    min-height: 32px;
  }
  
  
  /* item labels focus on mouse hover */
  
  .selectItemDeactive:hover {
    cursor: not-allowed;
  }
  
  
  /* Styling on selected items */
  
  .selectItem.selected {
    background-color: #e9e9e9;
    color: #555;
    cursor: pointer;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #d9d9d9;
  }
  
  .selectItem .acol label {
    display: inline-block;
    padding-right: 30px;
    margin: 0px;
    font-weight: normal;
    line-height: normal;
  }
  
  
  /* item labels focus on mouse hover */
  
  .selectItem:hover,
  .selectGroup:hover {
    cursor: pointer;
    background-color: #f5f7fa;
  }
  
  
  /* item labels focus using keyboard */
  
  .selectFocus {
    cursor: pointer;
  }
  
  
  /* change mouse pointer into the pointing finger */
  
  .selectItem span:hover,
  .selectGroup span:hover {
    cursor: pointer;
  }
  
  
  /* ! group labels */
  
  .selectGroup {
    display: block;
    clear: both;
  }
  
  
  /* right-align the tick mark (&#10004;) */
  
  .tickMark {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 10px;
  }
  
  
  /* hide the original HTML checkbox away */
  
  .checkbox {
    color: #ddd;
    position: absolute;
    left: -9999px;
    cursor: pointer;
  }
  
  
  /* checkboxes currently disabled */
  
  .disabled,
  .disabled:hover,
  .disabled label input:hover~span {
    color: #c4c4c4;
    cursor: not-allowed;
  }
  
  
  /* If you use images in button / checkbox label, you might want to change the image style here. */
  
  img {
    vertical-align: middle;
    margin-bottom: 0px;
    max-height: 22px;
    max-width: 22px;
  }
  
  .group {
    font-weight: 600;
    font-size: 14px;
  }
  
  .sousGroup {
    margin-left: 15px;
  }
  
  .tab {
    padding-left: 0;
    align-items: center;
    border-bottom: .05rem solid #e7e9ed;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    margin: .2rem 0 .15rem 0;
  }
  
  .tab-item {
    margin-top: 0;
  }
  
  .tab .tab-item.active span, .tab .tab-item span.active {
    border-bottom-color: #6E7991;
    color: #6E7991;
  }
  
  .tab .tab-item span {
    border-bottom: .1rem solid transparent;
    color: inherit;
    display: block;
    margin: 0 .4rem 0 0;
    padding: .4rem .4rem .3rem .4rem;
    text-decoration: none;
  }
  
  .empty-tab {
    min-height: 80px;
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
    color: rgb(116, 116, 116);
  }
  
  .selectList {
    margin: 0;
    list-style: inside disc;
    padding-left: 0px;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .bold {
    font-weight: bold;
  }
}



