.content ul {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

// customize switch label
.switch .control-label {
  padding-top: 0.1rem;
}

// custom label transparent to align button
.label-button {
  color: transparent;
}

// custom ul tabs
.b-tabs .tab-content {
  overflow: hidden;
}

.b-tabs.is-vertical {
  flex-wrap: inherit;
}

.b-tabs.is-vertical > .tabs ul li a {
  padding: 0.3em 1em 0.25em 1em;
}

.tabs.is-boxed {
  li {
    max-width: 100px;

    a {
      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.tab-item {
  .tab-content {
    padding: 0 0 0 20px;
  }
}

// pagination
ul.pagination-list {
  list-style: none;
  margin-left: 0;
  margin-top: 0;

  li+li {
    margin-top: 0;
  }
}

// table
.b-table .table {
  white-space: nowrap;
  font-size: 14px;
}

// navbar
.navbar.is-dark {
  z-index: 54;
  margin-left: 50px;
}

// navbar dropdown
.navbar-dropdown {
  z-index: 100;
  margin-top: -2px;
}

// select
.select select {
  border-radius: 2px;
}

// modal
.modal {
  z-index: 100;
}

// toast 
.notices .toast.is-success {
  color: #000000;
}