// customize switch label
.switch .control-label {
  padding-top: 0.1rem;
}

// custom label transparent to align button
.label-button {
  color: transparent;
}

// custom ul tabs
.tabs.is-toggle ul {
  margin-left: 0;
  margin-top: 0;
}

// pagination
ul.pagination-list {
  list-style: none;
  margin-left: 0;
  margin-top: 0;

  li+li {
    margin-top: 0;
  }
}

// table
.b-table .table {
  white-space: nowrap;
  font-size: 14px;
}